{% extends 'admin/master.html' %} {% block body %} {% if current_user.is_authenticated and
current_user.is_admin %}
<div class="mt-4">
	<div class="jumbotron">
		<h1 class="display-5">Welcome to Inflearn 인프런 🎓 Administrator</h1>
		<p class="lead">Manage your courses, lessons, users, tags, and more from here.</p>
		<hr class="my-4" />
		<p>Use the navigation bar to access different sections.</p>
	</div>

	<div class="row">
		<div class="col-6">
			<table class="table table-hover table-bordered">
				<caption>
					Statistics on the number of courses in each category
				</caption>
				<thead class="bg-primary">
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Title</th>
						<th scope="col">Amount</th>
					</tr>
				</thead>
				<tbody>
					{% for c in stats %}
					<tr class="table-light">
						<td>{{c[0] }}</td>
						<td>{{c[1] }}</td>
						<td>{{c[2] }}</td>
					</tr>
					{% endfor%}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% else %}
<div class="d-flex justify-content-center align-items-center vh-100 jumbotron">
	<div
		class="card shadow-sm p-4"
		style="width: 100%; max-width: 500px">
		<h2 class="text-center text-primary mb-4 fw-bold">Login Admin - eSale 🛒</h2>
		<form
			method="post"
			action="{{ url_for('login') }}">
			<div class="mb-3">
				<label
					for="email"
					class="form-label"
					>Email:</label
				>
				<input
					type="text"
					class="form-control"
					id="email"
					placeholder="Enter your email"
					name="email"
					required />
			</div>
			<div class="mb-3">
				<label
					for="pwd"
					class="form-label"
					>Password:</label
				>
				<input
					type="password"
					class="form-control"
					id="pwd"
					placeholder="Enter your password"
					name="password"
					required />
			</div>
			<div class="form-check">
				<input
					type="checkbox"
					class="form-check-input"
					id="remember"
					name="remember" />
				<label
					class="form-check-label"
					for="remember"
					>Remember me</label
				>
			</div>
			<button
				type="submit"
				class="btn btn-primary mt-3 w-100">
				Log In
			</button>
		</form>
	</div>
</div>
{% endif %} {% endblock %}
